/__init__.pyc
/test_acl.pyc
/test_api.pyc
/test_base.pyc
/test_basecase.pyc
/test_db_cursor.pyc
/test_expression.pyc
/test_func.pyc
/test_ir_actions.pyc
/test_ir_attachment.pyc
/test_ir_filters.pyc
/test_ir_sequence.pyc
/test_ir_sequence_date_range.pyc
/test_ir_values.pyc
/test_mail.pyc
/test_mail_examples.pyc
/test_menu.pyc
/test_orm.pyc
/test_ormcache.pyc
/test_osv.pyc
/test_qweb.pyc
/test_res_config.pyc
/test_res_lang.pyc
/test_res_partner_bank.pyc
/test_search.pyc
/test_translate.pyc
/test_view_validation.pyc
/test_views.pyc
/test_xmlrpc.pyc
