/__init__.pyc
/base_export_language.pyc
/base_import_language.pyc
/base_language_install.pyc
/base_module_configuration.pyc
/base_module_update.pyc
/base_module_upgrade.pyc
/base_update_translations.pyc
