/__init__.pyc
/html2text.pyc
/ir_actions.pyc
/ir_autovacuum.pyc
/mail_alias.pyc
/mail_channel.pyc
/mail_followers.pyc
/mail_mail.pyc
/mail_message.pyc
/mail_message_subtype.pyc
/mail_shortcode.pyc
/mail_template.pyc
/mail_thread.pyc
/mail_tracking_value.pyc
/res_config.pyc
/res_partner.pyc
/res_users.pyc
/update.pyc
